{% extends "menu/base.html" %}

{% block body %}
<div class="form-group col-sm-6 mb-5">
    <h1 class="text-center">Register page</h1>
    <form action="{% url 'register' %}" method="post">
        {% csrf_token %}
        <label for="firstname">First name:</label>
        <input type="text" name="firstname" value="" class="form-control">
         <label for="lastname">Last name:</label>
        <input type="text" name="lastname" value="" class="form-control">
        <label for="email">E-mail:</label>
        <input type="text" name="email" value="" class="form-control">
        <label for="username">Username:</label>
        <input type="text" name="username" value="" class="form-control" id="username">
        <label for="psw">Password:</label>
        <input type="password" name="password" class="form-control" id="psw">
        <br>
        <input type="submit" value="Register" class="btn btn-primary form-control">
    </form>
</div>
{% endblock %}

    
