{% extends "menu/base.html" %}


{% block body %}
<div class="form-group col-md-10 mb-5">
    <h1 class="text-center">Cart</h1>
    <table class="table table-striped text-center">
    <thead>
      <tr>
        <th>Type</th>
        <th>Name</th>
        <th>Toppings</th>
        <th>Size</th>
        <th>Price</th>
        <th>Remove</th>
      </tr>
    </thead>
    <tbody>
    {% for item in Cart %}
      <tr>
        <td>{{ item.item.get_category_display }}</td>
        <td>{{ item.name }}</td>
        <td><ol>
            {% for ig in item.toppings.all %}
            <li>{{ ig.item }}</li>
            {% endfor %}
            </ol>
        </td>
        <td>{{ item.size }} </td>
        <td>{{ item.price }}$</td>
        <td><a href='remove_meal/{{ item.id }}' alt='remove' title='Remove'><i class="fas fa-trash-alt"></i></a></td>
      </tr>
    {% endfor %}   
    </tbody>
  </table>
    
    <h3 class="text-center">Total price: {{ total_price}} $</h3>
    <form action="{% url 'confirm' %}" method="POST">
        {% csrf_token %}
        {% if total_price > 0 %}
        
        <input type="submit" value="Order"  class="btn btn-primary form-control">
        {% endif %}
    </form>  
</div>
{% endblock %}
    
