{% extends "base.html" %}
{% block title %}Orders{% endblock %}
{% block content %}
<table class="table table-striped">
    <thead>
        <tr>
            <th>Order id</th>
            <th>Date</th>
            <th>Status</th>
        </tr>
    </thead>
{% for order in orders %}
    <tr>
        <td>{{ order.id }}</td>
        <td>{{ order.created }}</td>
        <td>{% if order.completed %}
            <span class="badge-success">Zrealizowano</span>
        {% else %}
            <span class="badge-primary">Oczekuje na realizację</span>
        {% endif %}
        </td>   
    </tr>
{% endfor %}
</table>     
{% endblock %}