{% extends "menu/base.html" %}

{% block body %}
<div class="form-group col-sm-6 mb-5">
    <h1 class="text-center">{{ meal.name }}</h1>
    <h2 class="text-center">{{ meal.get_category_display }}</h2>
    <form action="{% url 'add_meal' meal.id  %}" method="post">
        {% csrf_token %}
        {% if is_sizable %}
            <select name="size" class="form-control">
                <option value="{{ meal.price_l }}" name="Large">Large {{ meal.price_l }}$</option>
                <option value="{{ meal.price }}" name="Small">Small {{ meal.price }}$</option>
            </select>    
        {% endif %}
            <br> 
            {% for i in toppings_quantity %} 
            <p class="text-center">Topping {{ forloop.counter }}:</p>
            <select name="topping{{ i }}" class="form-control">
                {% for topping in topping_list %}
                <option value="{{ topping.name }}">{{ topping.name }}</option>
                {% endfor %}  
            </select> 
            {% endfor %} 
            <br>
        {% if add_cheese_field %}
            <div class="text-center form-check">
            <label class="form-check-label">
                <input  class="form-check-input" type="checkbox" name="cheese">+ Cheese 0.50$<br>
            </label>
            </div>
        {% endif %}
        {% if is_steak_and_cheese_sub %}
            {% for sub_topping in sub_toppings %}
            <div class="text-center form_check">
                 <label class="form-check-label">
                    <input  class="form-check-input" type="checkbox" name="sub_topping" value="{{ sub_topping.name }}">+ {{ sub_topping.name }} 0.50$<br>
                 </label>
             </div>
             {% endfor %}
        {% endif %}
        <input type="submit" value="Next"  class="btn btn-primary form-control">
    </form>
</div> 
{% endblock %}