{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}{% endblock %}</title>
    <link href="{% static "css/base.css" %}" rel="stylesheet">
</head>
<body>
    <div class="header">
        {% if request.user.is_authenticated %}
        <h1>Hello <strong>{{ request.user.username }}</strong>!</h1>
        <a href="{% url "edit" %}">Edit profile</a>
        <a href="{% url "password_change" %}">Change password</a>
        <a href="{% url "logout" %}">Wyloguj</a>
        {% else %}
        <a href="{% url "register" %}">Register</a>
        <a href="{% url "login" %}">Login</a>
        {% endif %}
        <a href="{% url "menu:meal_list" %}">Menu</a>
        
        {% if messages %}
        <ul class="messages">
            {% for message in messages %}
            <li class="{{ message.tags }}">
                {{ message|safe }}
            </li>
            {% endfor %}
        </ul>
        {% endif %}
    </div>
    
    <div id="content">
        {% block content %}
        {% endblock %}
    </div>
</body>
</html>
