{% extends "base.html" %}
{% block content %}

    {% for category in categories %}
    <table class="table table-striped">
        {% if category.meals.all|length %}
        <h1 class="category-name"><a href="{{ category.get_absolute_url }}">{{ category.name }}</a></h1>
            {% for meal in meals %}
                {% if category.name == meal.category.name %}

                    <tr>
                        <td>{{ meal }}</td>
                        <td>{{ meal.price }} $</td>
                        <td><a class="btn btn-primary" href="{% url "cart:cart_add" meal.id %}">ADD</a></td>
                    </tr>
                {% endif %}
            {% endfor %}
       
        {% endif %}
    </table>
    {% endfor %}
{% endblock %}